<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mvc.basic.dao.PurviewDao">

    <!--权限   根据父id查询列表-->
    <select id="findByParentId" parameterType="java.lang.Long" resultType="com.mvc.basic.entity.Purview">
        select * from mvc_purview where parentId=#{parentId}
    </select>
</mapper>